:root {
  --margin: 16px;
  --bck-opacity: 0;
}

body {
  min-height: 100vh;
  width:  100vw; 
  overflow: hidden;
}

html {
  -webkit-overflow-scrolling: touch;
  overflow: scrolls;
    width:  100vw; 

}



html, body{
  margin: 0; 
  padding: 0;
  font-family: inter, Helvetica, Arial, sans-serif;
  font-size: 30px;
  line-height: 60px;
  text-align: center;
  color: white;
}



/* ------- Background ------- */

.shade {
  background-image: linear-gradient(
    to bottom,
    hsl(220, 20%, 10%) 0%,
    hsl(220, 25%, 15%) 40%,
    
    hsl(220, 20%, 30%) 50%,
    
    hsl(220, 30%, 15%) 65%,
    hsl(220, 40%, 15%) 100%
  );
}

/* --------- Home Content --------- */

.content-wrapper {
  /* background-color: rgba(65, 76, 141, 0.8); */
  height: calc(100vh - var(--menubar-height) );
  width: calc(100%);
  margin: 0;
  display: flex;
  flex-direction: column;  /****** altered when mobile goes to landscape */
}

/* Reposition when mobile goes to landscape */
 @media screen and (orientation:landscape) {
  .content-wrapper {
      flex-direction: row;

    }
 }

 /* Resize and Reposition on desktop */

 @media (min-width: 1081px) {
  .content-wrapper{
    width: calc(100% -  var(--sidebar-width));
    margin-left: var(--sidebar-width);
  }
}



.title{
  position: absolute;
  top: calc(var(--menubar-height));
  padding-top: calc(var(--margin) * 1.4);
  margin-left: calc(var(--margin));

  width: auto;
  height: auto;
  color: white;
  /* background-color: hsla(0, 100%, 100%, 0.15); */
  font-size: 30px;
  line-height: 15px;
  text-align: left;
  z-index: 3;
}

/**********************************/

.render-area{
  color: white;
 /* background-color: hsla(260, 50%, 50%, 0.5); */
  position: relative; /* needed for absolute positioning inside child div */
  flex-basis:  50%;
  flex-grow: 1;
  }



.canvas-container{
  color: white;
  position: absolute; 
  top:  0;
  left:  0;
  width: 100%;
  height: 100%;
  // padding: calc(var(--margin)/2) 0 calc(var(--margin)/2) 0 ;
  /* background-color: hsla(200, 100%, 50%, 0.25); */
  z-index: 1
}

/* Add left margin when mobile goes to landscape */
@media screen and (orientation:landscape) {
  .canvas-container{ 
    // padding-right: var(--margin);
    padding-left: var(--margin);
    }
   }


.mask-image-container{
  position: absolute;
  top:  0;
  left:  0;
  width: 100%;
  height: 100%;
  // padding: calc(var(--margin)) 0 calc(var(--margin)) 0 ;
  color: white;
  /* background-color: hsla(300, 100%, 50%, 0.25); */
  z-index: 2;
}

/* Add left margin when mobile goes to landscape */
@media screen and (orientation:landscape) {
  .mask-image-container{ 
    // padding-right: var(--margin);
    padding-left: var(--margin);
    }
   }


.contain {object-fit: contain;}



/******************************************/

.control-area{
  color: white;
  background-color: hsl(220, 40%, 15%) ;

  flex-basis:  50%;
  flex-grow:  1;

  display: flex;
  flex-direction: column;

  padding:  0 var(--margin) 0 var(--margin) ;

  }

  @media screen and (orientation:landscape) {
    .control-area{ 
      background-image: linear-gradient(
        to bottom,
        hsl(220, 20%, 10%) 0%,
        hsl(220, 25%, 15%) 40%,
        
        hsl(220, 20%, 30%) 50%,
        
        hsl(220, 30%, 15%) 65%,
        hsl(220, 40%, 15%) 100%
      );
      }
   }

.palettes-area{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  color: white;
   /* background-color: rgba(255, 255, 255, 0.829); */
  order: 1;
  flex-grow: 14;
}

.animations-area{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  color: white;
  /* background-color: hsla(0, 100%, 100%, 0.05); */
  order: 2;
  flex-grow: 16;
}

.send-area{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  color: white;
  /* background-color: hsla(0, 100%, 50%, .5); */
  order: 2;
  flex-grow: 16;
}

.footer{
  width: 100%;
  padding-top: calc(var(--margin)/2);
  padding-bottom: 0;
  font-size: 13px;
  line-height:13px;
  color: hsla(0, 100%, 100%, 1);
  order: 3;
  flex-grow: 3;
}

/*** ------ ***/

.area-title{
  top:0;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  /* background-color: hsla(0, 100%, 50%, 0.3); */
  padding: calc(var(--margin) / 1 ) 0 calc(var(--margin) / 2 ) var(--margin);
  order: 1;
  align-items: flex-end;
}

.buttons-container{
  display:flex;
  flex-direction:row;
  /* padding: var(--margin) 0 ; */
  /* background-color: hsla(200, 100%, 50%, 0.1); */
  Order: 2;
  flex-grow: 1;
}

.button{
  flex-grow: 2;
  border: 1px solid hsla(206, 20%, 50%, .75);
  border-radius: 8px;
  margin: 0 calc(var(--margin) / 4) 0 calc(var(--margin) / 4);
  
  cursor: pointer;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.2s; /* Safari */
}

.button:first-child{margin-left:0;}
.button:last-child{margin-right: 0;}

.button:hover{
  transition-duration: 0.2s;
  background-color: hsl(206, 40%, 50%);
}

.button:active {
  transform: translate(0px, 2px);
  background-color: hsl(206, 40%, 80%);
  transition-duration: 0.2s;

}


/************ Must investigate and correct ******** */

/*
.button:after {
  content: "";
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px white;

}

/*
.button:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: 0s;
}
*/



/******************** */

.label{
  position: relative;
  top: 50%;
  transform: translate(0%,-50%);
  font-size: 16px;
  line-height:16px;
  /* background-color: hsla(90, 100%, 50%, 0.25); */
  height: auto;
  width: auto;
  padding:0px;
}

.credits{
  font-size: 10px;
  line-height:10px;
}




/*** ------ ***/


.test {
  width: 100%;
  height: 100%;
  color: white;
  background-color: hsla(0, 100%, 100%, 0.15);
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

.safe-footer{
  background-color:     hsl(220, 40%, 15%) ;
  flex-grow: 1;
  order: 4;
  min-height: 48px;
}





//
// oLIVIER stuffs 
::-webkit-scrollbar {
  display: none;
}


.hide        {display: none!important;}
.show-sm     {display: none!important;}

@media only screen and (max-width: 767px) {
  .hide-sm    {display: none!important;}
  .show-sm     {display: block!important;}
  .inline-show-sm     {display: inline-block!important;}
}

@media only screen and (min-width: 767px) {
  .hide-md    {display: none;}
}


@media only screen and (min-width: 1024px) {
  .show-lg    {display: block;}
  .hide-lg    {display: none;}
}


.hidden {
  visibility: hidden;
}



