/************** Page with collapsible sidebar *************/


:root{
  --menubar-height: 48px;
  --sidebar-width: 300px;
}

* {
  transition: all .3s;
}

/* ---------- Grid ---------- */

.grid-container {
  display: grid;
}

.grid-container--fit {
  /* note to self, auto-fit - auto-fill */
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.grid-element {
  padding: 0px;
  margin: 4px;
  color: #fff;
  height: 200px;
  position: relative;  
  margin-bottom: 50px;
}

/* typo */
.day-title {
  margin: 0 0 0.5em 1em;
  font-size: 1.25em;
  font-weight: bold;
}

/* --------- Menu bar --------- */


.menubar-wrapper {
  height: var(--menubar-height);
  width: 100%;
  margin-left: 0;
  background-color: hsla(220, 40%, 33%, .5);
  display: flex;
}

.menubar-leftbutton {
  height: var(--menubar-height);
  width: var(--menubar-height);
  background-color: hsla(0, 100%, 100%, 0.05); /* delete! */
  order: 1;
}

.menubar-centerarea {
  height: var(--menubar-height);
  width: var(--menubar-height);
  background-color: hsla(0, 100%, 100%, 0.15); /* delete! */ 
  order: 2;
  flex-grow: 8;
}

.menubar-rightbutton {
  height: var(--menubar-height);
  width: var(--menubar-height);
  background-color: hsla(0, 100%, 100%, 0.05); /* delete! */
  order: 3;
}

/************** Flex elements *************/


.page-wrap {
  display: flex;
  height: 100%;
  flex-direction:row;
  margin: 0;
}


// .page-sidebar {
//   order:  1;
//   flex-basis: 250px;
// background-color: lightgrey;
//   padding: var(--margin);
// }


.page-main {
  order: 2;
  flex-basis: auto ;
  flex-grow: 9;
}

/****************************************/

@media (max-width: 1081px) {
  .page-sidebar {
    flex-basis: 0px;
    overflow: hidden;
    visibility:  hidden;
    padding: 0;
    }
}


@media (min-width: 1081px) {
    :root{
        --menubar-height: 0px;
    }

    .menubar-wrapper {
      visibility: hidden;
    }
}

/****************************************/